/* <![CDATA[ */

html, body
{
    margin: 0;
    padding: 0;
    font: 100.01% sans-serif;
}

#con_main
{
    border-width: thin;
    border-color: #000000;
    border-radius: 25px 0 0 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-style: solid;
    padding: 20px;
}

#con_menu
{
    text-align: center;
    margin-top: 50px;
    padding: 0;
}

#menu_back
{
    display: inline-block;
    text-align: center;
    border-radius: 55px 25px;
    box-shadow: 10px 10px 5px #888888;
    padding: 10px 30px;
}

#navi
{
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 55px 25px;
    padding: 5px 10px;
}
#navi a
{
    font-size: medium;/*font-size: large;*/
    background-color: #C0C0C0;
    display: inline-block;
    text-align: center;
    outline: none;
    margin: 3px;
}
#navi a:link, #navi a:visited, #navi a:active
{
    color: #FFFFFF;
    text-decoration: none;
    border-style: solid;
    border-radius: 55px 25px;
    border-width: medium;
    width: 100px;
    height: 4em;
    font-weight: bold;
    border-color: silver;
}
#navi a:hover, #navi a:focus
{
    border-width: medium;
    background-color: #888888;
    border-color: #FFFFFF;
}

#navi a.rightA
{
    border-color: #9C9C9C;
    width: 50px;
    border-radius: 10px 25px 25px 10px; 
}
#navi a.rightA:hover/*, #navi a.rightA:focus*/
{
    border-width: medium;
    background-color: #888888;
    border-color: #FFFFFF;
}
#navi a.leftA
{
    border-color: #9C9C9C;
    width: 50px;
    border-radius: 25px 10px 10px 25px;
}
#navi a.leftA:hover/*, #navi a.leftA:focus*/
{
    border-width: medium;
    background-color: #888888;
    border-color: #FFFFFF;
}

/* ]]> */
